[Unit]
Description=Jack Audio Server

[Install]
WantedBy=default.target

[Service]
# Type notify available with jack version 1.9.13
Type=notify
PrivateTmp=true                          
# EnvironmentFile=/etc/seamless/jack.conf
# Environment="JACK_NO_AUDIO_RESERVATION=1"
# ExecStart=/usr/bin/jackd $JACK_OPTIONS -d $DRIVER -d $DEVICE $DRIVER_SETTINGS
ExecStart=/usr/bin/jackd -d alsa -d hw:Generic
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity